<template>
  <div class="products">
    <div class="product-item" v-for="product in products">
      <div class="image">
        <img :src="product.img" alt="image">
      </div>
      <p class="name">
        {{product.name}}
      </p>
      <button class="button is-product" @click="seeProduct(product)">
        Ver detalles
      </button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default {
    name: "Products",
    data() {
      return {
        products: [],
        baseUrl: process.env.BASE_URL
      }
    },
    methods: {
      seeProduct(product) {
        this.$router.push({name: 'product-detail', params: { name_slug: product.slug, id: product.id }})
      }
    },
    created() {
      axios.get('es.json',).then((response) => {
        this.products = response.data['products']
      })
    }
  }
</script>

<style src="./products.scss" lang="scss">

</style>