.product-detail {
  h1 {
    &.title {
      color: #252525;
      text-transform: uppercase;
      font-weight: normal;
      span {
        border-bottom: solid 2px #dcb867;
      }
      
    }
  }
  
  ul {
    list-style: disc;
  }
}