@import "~bulma/sass/utilities/all";
.about {
  padding: 0 15px;
  @include fullhd {
    padding: 0 150px;
  }
  color: #494949;
  text-align: left;
  .title {
    color: #252525;
    font-size: 40px;
    border-bottom: solid 2px #cf9f33;
    padding: 5px;
  }
  p {
    text-align: justify;
    span {
      border-bottom: solid 1px #cf9f33;
    }
  }
  span {
    border-bottom: solid 1px #cf9f33;
  }
  
  .medals {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 115px;
      &:nth-child(1) {
        margin-right: 40px;
      }
    }
  }
}