<template>
  <div class="about">
    <div class="columns">
      <div class="column">
        <img src="/img/quienes-somos.jpg" alt="Quienes Somos">
      </div>
      <div class="column">
        <h1 class="title">Piscos y Vinos Bohorquez</h1>
        <p>Somos una empresa peruana familiar con medio siglo en el mercado dedicados a la elaboración de piscos de la más alta calidad, conservando hasta hoy los métodos tradicionales de elaboración en cada una de las etapas del proceso de producción. Contamos con viñedos y bodegas propias ubicadas en el departamento de Ica, histórica zona de producción de piscos y vinos en el Sur del Perú.
          El suelo de nuestras viñas, el clima del valle de Ica y el amor del hombre puesto en los sabores de campo se ven reflejados en las bondades de cada uno de nuestros piscos, comercializados, con denominación de origen certificada, bajo la marca BOHORQUEZ.
        </p>
      </div>
    </div>
    <p>
      <span>NUESTROS PISCOS:</span>
      Elaborados a partir de “Uvas Pisqueras” donde a través de un proceso de destilación, llevado de generación en generación, obtenemos un destilado fino con características organolépticas únicas resaltando motas frutales, armonizadas con finos destilos de hierba, untuoso en boca y de buen equilibrio, al final resaltan unos ligeros destilos de fruto seco.
    </p>
    <p>
      <span>NUESTROS VINOS:</span>
      Son el resultado de varios años de experiencia, elaborados a partir de “Uvas Viníferas” de los campos del valle de Ica, nos ha permitido aprovechar el potencial de nuestras cepas obteniendo un mosto único para los diferentes tipos de vinos que conforman nuestra línea.
    </p>
    <div class="mtb-10"><span>NUESTROS PRINCIPALES PREMIOS & MEDALLAS:</span></div>
    <div class="medals">
      <img src="/img/medalla1.png" alt="Primera Medalla">
      <img src="/img/medalla2.png" alt="Segunda Medalla">
    </div>
  </div>
</template>

<script>
  export default {
    name: "About"
  }
</script>

<style src="./about.scss" lang="scss">

</style>