<template>
  <div class="home">
    <section class="hero is-fullheight has-carousel">
      <div class="hero-carousel carousel-animated carousel-animate-fade"  data-autoplay="true">
        <div class='carousel-container'>
          <div class='carousel-item has-background is-active'>
            <div class="overlay"></div>
            <img class="is-background" src="/img/banner/home3.jpg" alt="Pisco" />
          </div>
          <div class='carousel-item is-overlay has-background'>
            <div class="overlay"></div>
            <img class="is-background" src="/img/banner/home2.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="hero-head">
        <nav class="navbar is-transparent">
          <div class="container">
            <div class="navbar-brand">
              <a href="/" class="navbar-item logo">
                <img src="/img/logo.png" alt="Logo">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <router-link class="navbar-item has-text-white" :to="{name:'home'}">Home</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item has-text-white" :to="{name:'about'}">Bohorquez</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item has-text-white" :to="{name:'products'}">Productos</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item has-text-white" :to="{name:'pisco'}">El Pisco</router-link>
                <div class="separator"></div>
                <router-link class="navbar-item has-text-white" :to="{name:'contact'}">Contáctanos</router-link>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered title">
          Conservando <br> la tradición pisquera <br> desde 1998
        </div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div class="social-networks">
            <a href="https://www.instagram.com/piscos_bohorquez_ica_peru" target="_blank">
              <img src="/img/instagram.svg" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/Pisco.Bohorquez.Ica.Peru" target="_blank">
              <img src="/img/fb.svg" alt="Me gusta">
            </a>
          </div>
          <div class="message-warning">
            TOMAR BEBIDAS ALCOHÓLICAS EN EXCESO ES DAÑINO
          </div>
        </div>
      </div>
    </section>
  </div>

</template>

<script>
  export default {
    name: "Home"
  }
</script>

<style lang="scss" src="./home.scss" scoped>

</style>